@media (max-width:500px){
  .mobile{
    width:100%;
    .names{
      margin-top: 10%;
      margin-left: 10%;
    }
    .inputsright{
      margin-top: 10%;
      width:55%;
      .inputs{      
        width:100%;
        height: 19px;
        margin-top: 10px;
      }
    }
  }
}